<section class="socials">
    <span class="policy"
        >By continuing, you agree to the <a url="#">Terms of Service</a> and acknowledge our
        <a url="#">Privacy Policy</a>.</span
    >

    <div
        id="g_id_onload"
        data-client_id="995696971353-a56rf0rf3q01sdf44ohefkq0fpf9qut1.apps.googleusercontent.com"
        data-login_uri="http://localhost:3000/api/auth/google"
        data-auto_prompt="false"
    ></div>
    <div
        class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-text="signin_with"
        data-theme="filled_blue"
        data-shape="rectangular"
        data-logo_alignment="left"
        data-width="300"
    ></div>
</section>
