<h1 class="mat-headline">Login</h1>
<br />
<form class="login" (ngSubmit)="submit()" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
        <mat-label>Username or e-mail</mat-label>
        <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <mat-checkbox formControlName="rememberMe" class="example-margin">Remember me</mat-checkbox>
    <br />
    <button type="submit" mat-flat-button color="primary">Sign in</button>

    <span [routerLink]="['/reset-password']" class="forgot-pass">Forgot password?</span>

    <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
    </div>

    <app-google-auth></app-google-auth>
</form>
