/* Coolors Exported Palette - coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654 */

/* HSL */
$color1: hsla(198%, 63%, 38%, 1);
$color2: hsla(170%, 40%, 60%, 1);
$color3: hsla(139%, 36%, 78%, 1);
$color4: hsla(71%, 100%, 87%, 1);
$color5: hsla(344%, 100%, 54%, 1);

/* RGB */
$color1: #2274A5;


$gray-1: #ededed;
$gray-2: #e8e8e8;
$gray-3: #999898;
$gray-4: #6d6d6d;


$f-color1: (
    50:  #9fe2ff,
    100: #69bee2,
    200: #55add3,
    300: #439dc3,
    400: #2e85aa,
    500: #2274A5,
    600: #1c7296,
    700: #14698d,
    800: #0e5f82,
    900: #085576,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white
    )
);
$color2: rgba(112, 193, 179, 1);
$f-color2: (
    50:  #cef9f2,
    100: #bcf0e7,
    200: #aae6dc,
    300: #96dbcf,
    400: #81cdc0,
    500: #70c1b3,
    600: #57a99b,
    700: #429688,
    800: #2e8576,
    900: #166a5b,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white
    )
);
$color3: rgba(178, 219, 191, 1);
$f-color3: (
    50:  #ecfcf1,
    100: #ecfcf1,
    200: #e1f6e8,
    300: #d8f0df,
    400: #c6e6d0,
    500: #b2dbbf,
    600: #94c7a4,
    700: #70b285,
    800: #4c9c65,
    900: #298948,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white
    )
);
$color4: rgba(243, 255, 189, 1);
$f-color4: (
    50:  #fff9eb,
    100: #fde8b7,
    200: #ffdc8a,
    300: #ffd46e,
    400: #ffca4f,
    500: #FFC43D,
    600: #fdbf2e,
    700: #ffbf29,
    800: #fab513,
    900: #ffb300,
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white
    )
);
$color5: #F75C03;
$f-color5: (
    50:  rgb(248, 205, 179),
    100: rgb(247, 168, 123),
    200: rgb(245, 147, 90),
    300: rgb(245, 122, 50),
    400: rgb(248, 106, 24),
    500: #F75C03,
    600: rgb(209, 80, 5),
    700: rgb(197, 73, 1),
    800: rgb(153, 57, 2),
    900: rgb(119, 44, 0),
    contrast: (
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A700: white
    )
);

