@use './typography';
@use './variables';
@use '@angular/material' as mat;

//default theme
$default-theme: mat.define-light-theme((
    color: (
        primary: variables.$my-primary,
        accent: variables.$my-accent,
        warn: variables.$my-warn,
    ),
    typography: typography.$default-typography
));

//dark theme
$dark-theme: mat.define-dark-theme((
    color: (
        primary: variables.$my-primary,
        accent: variables.$my-accent,
        warn: variables.$my-warn,
    ),
    typography: typography.$default-typography
));

//https://www.youtube.com/watch?v=99T-zQLcluM