// Import Sass map utilities and Angular Material theming API.
@use 'sass:map';
@use '@angular/material' as mat;
@use './typography' as typography; // Exports $default-typography (new config)
@use './variables' as variables;   // Exports your color palette variables





html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}