@use '@angular/material' as mat;

$typography: mat.define-typography-config(
	$headline-1: mat.define-typography-level(
		$font-family: 'Berkshire Swash, sans-serif',
		$font-weight: 400,
		$font-size: 2.75rem,
		$line-height: 1.25,
		$letter-spacing: normal
  	),
	$body-1: mat.define-typography-level(
		$font-family: 'Roboto, sans-serif',
		$font-weight: 400,
		$font-size: 1rem,
		$line-height: 1.3,
		$letter-spacing: normal
	)
);

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: $typography
));

@include mat.core();

@include mat.all-component-colors($my-theme);
@include mat.all-component-typographies($my-theme);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  font-weight: normal;
}

.page-title {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 10px 10px 30px 5px;

  .mat-icon {
    margin-right: 10px;
    transform: scale(1.5);
  }
}

p {
 
  margin-bottom: 1em;
}
