@use '@angular/material' as mat;

$typography: mat.define-typography-config(
	$headline-1: mat.define-typography-level(
		$font-family: 'Berkshire Swash, sans-serif',
		$font-weight: 400,
		$font-size: 2.75rem,
		$line-height: 1.25,
		$letter-spacing: normal
  	),
	$body-1: mat.define-typography-level(
		$font-family: 'Roboto, sans-serif',
		$font-weight: 400,
		$font-size: 1rem,
		$line-height: 1.3,
		$letter-spacing: normal
	)
);

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: $typography
));

@include mat.core();

// The following mixins include base theme styles that are only needed once per application. These
// theme styles do not depend on the color, typography, or density settings in your theme. However,
// these styles may differ depending on the theme's design system. Currently all themes use the
// Material 2 design system, but in the future it may be possible to create theme based on other
// design systems, such as Material 3.
//
// Please note: you do not need to include the 'base' mixins, if you include the corresponding
// 'theme' mixin elsewhere in your Sass. The full 'theme' mixins already include the base styles.
//
// To learn more about "base" theme styles visit our theming guide:
// https://material.angular.io/guide/theming#theming-dimensions
//
// TODO(v17): Please move these @include statements to the preferred place in your Sass, and pass
// your theme to them. This will ensure the correct values for your app are included.
//@include mat.all-component-bases(/* TODO(v17): pass $your-theme here */);


@include mat.all-component-colors($my-theme);
@include mat.all-component-typographies($my-theme);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  font-weight: normal;
}

.page-title {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin: 10px 10px 30px 5px;

  .mat-icon {
    margin-right: 10px;
    transform: scale(1.5);
  }
}

p {
 
  margin-bottom: 1em;
}
