@use '@angular/material' as mat;


$border-radius: 10px;
$toolbar-height: 53px;

// Default theme variables
$my-primary-light: mat.define-palette(mat.$indigo-palette, 500, 100, 700, 500);
$my-primary-dark: mat.define-palette(mat.$indigo-palette, 500, 100, 700, 500);
$my-accent: mat.define-palette(mat.$indigo-palette, 500, 100, 700, 500);
$my-warn: mat.define-palette(mat.$indigo-palette, 500, 100, 700, 500);
