.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;

    div {
        height: 1px;
        background-color: #afafaf;
        width: 100%;
    }

    span {
        margin: 0 10px 0 10px;
    }
}
