@use '../../../../../../assets/scss/variables.scss';

.debug {
	position: fixed;
	top: variables.$toolbar-height;
	left: 0;
	z-index: 10000;
	display: block;
	min-width: 400px;
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-family: Consolas, monaco, monospace;
}
