@use '@angular/material' as mat;
@use '../../../../assets/scss/variables.scss';
@use '../../../../assets/scss/mixins/dark-mode-transition.mixin' as transition;
@import '../../../../assets/scss/typography.scss';

@include mat.core($default-typography);

:host{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 53px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include transition.transition-dark-mode();
}

h1{
    padding-left: 15px;
    margin: 0 !important;
}

#avatar{
    width: 42px;
    height: 42px;
    border-radius: 100%;

    &:hover{
        cursor: pointer;
    }
}

