@use '../../../../assets/scss/variables.scss';
@use '../../../../assets/scss/mixins/dark-mode-transition.mixin' as transition;


:host{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: variables.$toolbar-height;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include transition.transition-dark-mode();
}

h1{
    padding-left: 15px;
    margin: 0 !important;
}

#avatar > img,i {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 100%;

    &:hover{
        cursor: pointer;
    }
}

[clicked-outside] {
    border-radius: 100%;

    .i-user{
        background-position: center bottom;
        background-size: 70%;
        background-repeat: no-repeat;
    }
}

.right-panel{
    display: flex;
    align-items: center;

    .auth-actions{
        margin-right: 15px;

        button:first-child{
            margin-right: 10px;
        }
    }
}