@use '../../../../assets/scss/variables.scss';
@use '../../../../assets/scss/mixins/dark-mode-transition.mixin' as transition;
@use '../../../../assets/scss/mixins/avatar.mixin' as avatar;

:host{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: variables.$toolbar-height;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include transition.transition-dark-mode();
}

h1{
    padding-left: 15px;
    margin: 0 !important;
}

@include avatar.avatar(42px, 42px);

.right-panel{
    display: flex;
    align-items: center;

    .auth-actions{
        margin-right: 15px;

        button:first-child{
            margin-right: 10px;
        }
    }
}

.logo{
    height: 100%;
    width: 100px;
    background-size: cover;
    background-repeat: none;
    background-position: center;

    &--light{
        background-image: url('../../../../assets/svg/fadein-logo-light.svg');
    }

    &--dark{
        background-image: url('../../../../assets/svg/fadein-logo-dark.svg');
    }
}



