@use '@angular/material' as mat;
@import '../../../../../assets/scss/typography.scss';

@include mat.core($default-typography);



:host{
    display: block;
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 13px rgb(0, 0, 0, .2);
    //check for performance issues
    transition: all .5s;
}

h1 {
    text-align: center;
}

.login{
    display: flex;
    flex-direction: column;

}

