@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  // Retrieve the color configuration from the theme.
  $config: mat.get-color-config($theme);

  // Optionally extract specific palettes.
  $primary: map.get($config, primary);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  app-hamburger-btn {
    // Extract the foreground palette for text and icon colors.
    $palette: map.get($config, foreground);

    .nav-icon span {
      background-color: mat.get-color-from-palette($palette, text, 0.9);
    }
  }
}

@mixin typography($theme) {
  // Retrieve the color configuration to access the foreground palette.
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, foreground);

  // Retrieve the typography configuration from the theme.
  $typography-config: mat.get-typography-config($theme);

  app-hamburger-btn {
    // Apply a text color using the foreground palette with an opacity of 0.9.
    color: mat.get-color-from-palette($palette, text, 0.9);
  }
}

// Convenience mixin that applies both color and typography styles if their configurations exist.
@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
