@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  // Retrieve the color configuration from the theme.
  $config: mat.get-color-config($theme);

  // Extract the background and foreground palettes.
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  // Get the divider color from the foreground palette.
  $divider: map.get($foreground, divider);

  table {
    // Set the background color using the 'background' key from the background palette.
    background-color: mat.get-color-from-palette($background, background);
    border: 1px solid $divider;

    .wrapper {
      border: 1px solid $divider;
    }

    tr {
      &:hover,
      &:active {
        cursor: pointer;
        // Apply hover background color using the 'hover' key from the background palette.
        background-color: mat.get-color-from-palette($background, hover);
      }
    }
  }
}

@mixin typography($theme) {
  // Retrieve the color configuration to get the foreground palette.
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, foreground);

  // Retrieve the typography configuration from the theme.
  $typography-config: mat.get-typography-config($theme);

  table {
    // Set the text color using the foreground palette with an opacity factor of 0.9.
    color: mat.get-color-from-palette($palette, text, 0.9);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-color-config($theme);
  @if mat.get-typography-config($theme) != null {
    @include typography($theme);
  }
}
