<div class="left-panel">
    <button class="main-menu-btn" mat-mini-fab color="primary" aria-label="Toggle menu button" (click)="openMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <app-logotype class="app-logotype"></app-logotype>
</div>





<div class="right-panel">
    <div clicked-outside (clickedOutside)="toggleDropdown(true)">
        <app-avatar class="cmp-avatar avatar-default" [photo]="account.photo" (click)="toggleDropdown()"></app-avatar>

        <app-dropdown interacted-with-menu (interacted)="toggleDropdown(true)" *ngIf="isDropdownVisible" class="cmp-dropdown shadow-md" ></app-dropdown>
    </div>
</div>


