<div class="left-panel">
    <button class="main-menu-btn" mat-mini-fab color="primary" aria-label="Toggle menu button" (click)="openMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <app-logotype class="app-logotype"></app-logotype>
</div>





<div class="right-panel">
    <ng-container *ngIf="!authService.isAuthenticated" >
        <div class="auth-actions">
            <button mat-flat-button color="basic" [routerLink]="['/login']" >Login</button>
            <button mat-flat-button color="primary" [routerLink]="['/register']">Sign up</button>
        </div>
    </ng-container>
    
    <div clicked-outside (clickedOutside)="toggleDropdown(true)">
        <div id="avatar" [ngSwitch]="authService.isAuthenticated && account.photo !== ''" (click)="toggleDropdown()">
            <img *ngSwitchCase="true" [src]="account.photo" alt="avatar" />
            <i *ngSwitchCase="false" class="i-user"></i>
        </div>
        <app-dropdown interacted-with-menu (interacted)="toggleDropdown(true)" *ngIf="isDropdownVisible" class="cmp-dropdown shadow-md" ></app-dropdown>
    </div>
</div>


