app-logotype[class^='logo--small'] {
	width: 100px;
	height: 52px;
}
app-logotype[class^='logo--medium'] {
	width: 200px;
	height: 104px;
}
app-logotype[class^='logo--big'] {
	width: 400px;
	height: 208px;
}
