<app-loading-indicator *ngIf="setting.loaderVisibility"></app-loading-indicator>

<app-toolbar class="cmp-toolbar shadow-md"></app-toolbar>

<mat-drawer-container class="manu-container" autosize hasBackdrop=false interacted-with-menu (interacted)="closeMenu()">
    <mat-drawer #drawer mode="over" >
        <ol class="sidenav">
            <li>
                <button mat-stroked-button><i class="icon i-admin-dashboard"></i>Admin dashboard</button>
            </li>
        </ol>
    </mat-drawer>

</mat-drawer-container>

<router-outlet></router-outlet>

<app-footer class="cmp-footer"></app-footer>
