@use '../../../../assets/scss/variables.scss';
@use '../../../../assets/scss/mixins/avatar.mixin' as avatar;

:host{
    position: fixed;
    z-index: 90000;
    top: 42px;
    right: 13px;
    width: 300px;
    border-radius: variables.$border-radius;
}

.header{
    display: flex;
    padding: 15px;

    @include avatar.avatar(55px, 55px);

    .username{
        margin: 10px 0 0 15px;
        font-weight: 500;
    }
}

ol {
    li{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;


        i {
            display: inline-block;
            width: 20px;
            height: 20px;
        }

        span{
            margin-left: 16px;
        }

        div{
            display: flex;
            align-items: center;
        }
    }
}



