<mat-card>
	<h2>Account info</h2>

	<div class="general">
		<app-avatar
			class="cmp-avatar avatar-big hover-edit"
			[photo]="account.photo"
			(click)="openCropImg()"
		></app-avatar>
		<div class="simple-info">
			<span class="username">{{ account.username }}</span>
			<span class="date-of-signup">Joined: {{ account.creationDate | date }}</span>
		</div>
	</div>

	<form class="personal-details" [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
		<app-enable-disable-mat-form-field name="givenName"></app-enable-disable-mat-form-field>
		<app-enable-disable-mat-form-field name="familyName"></app-enable-disable-mat-form-field>
		<app-enable-disable-mat-form-field name="email"></app-enable-disable-mat-form-field>
	</form>
</mat-card>
