<div *ngIf="authService.isAuthenticated" class="header">
    <app-avatar class="avatar avatar-dropdown" [photo]="account.photo"></app-avatar>

    <div class="username">{{account.username}}</div>
</div>
<ol>
    <li>
        <div class="option">
            <mat-icon aria-hidden="false" aria-label="Settings dark mode">dark_mode</mat-icon>
            <span>Dark mode</span>
        </div>

        <mat-slide-toggle
            class="example-margin" 
            color="accent"
            [(ngModel)]="darkMode"
            disabled="false"
            (change)="darkModeChanged()"
        >
        </mat-slide-toggle>
    </li>
    <li *ngIf="authService.isAuthenticated" [routerLink]="['/settings']">
        <div class="option">
            <mat-icon aria-hidden="false" aria-label="Settings icon">settings</mat-icon>
            <span>Settings</span>
        </div>
    </li>
    <li *ngIf="authService.isAuthenticated" (click)="logout()">
        <div class="option">
            <mat-icon aria-hidden="false" aria-label="Settings logout">logout</mat-icon>
            <span>Logout</span>
        </div>
    </li>
</ol>