<h1>FadeIn:</h1>
<br>
<form class="register">
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password confirmation</mat-label>
        <input matInput formControlName="passwordConfirm">
    </mat-form-field>
    <div class="statute">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <span>I agree to the <a url="#">Terms of Service</a> and acknowledge of <a url="#">Privacy Policy</a>.</span>
    </div>
    <br>
    <button type="button" mat-flat-button color="primary">Sign on</button>
</form>


<div class="divider">
    <div></div>
    <span>or</span>
    <div></div>
</div>


<section class="socials">
    <span class="policy">By continuing, you agree to the <a url="#">Terms of Service</a> and acknowledge our <a url="#">Privacy Policy</a>.</span>

    <div id="g_id_onload"
        data-client_id="995696971353-a56rf0rf3q01sdf44ohefkq0fpf9qut1.apps.googleusercontent.com"
        data-login_uri="http://localhost:3000/api/auth/google"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-text="signin_with"
        data-theme="filled_blue"
        data-shape="rectangular"
        data-logo_alignment="left"
        data-width="300">
    </div>
</section>


