@use '@angular/material' as mat;
@import '../../../../../assets/scss/typography/default-typography.scss';

@include mat.core($default-typography);

:host{
    display: block;
    max-width: 342px;
    min-width: 342px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #efefef;
    background: #f2f2f2;
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(242,242,242,1) 100%);
    box-shadow: 3px 3px 13px rgb(0, 0, 0, .2);
}

h1 {
    text-align: center;
}

:host ::ng-deep{
    .mat-checkbox{
        .mat-checkbox-layout{
            white-space: break-spaces;
        }
        .mat-checkbox-layout > .mat-checkbox-label{
            line-height: 16px;
        }
    }

    // ERRORS CUSTOMIZATION
    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper{
        padding: 0;
    }

    mat-error{
        font-size: 10.5px;
        line-height: 11.81px;
    }
}


a{
    cursor: pointer;
    text-decoration: underline;
}

.register{
    display: flex;
    flex-direction: column;

    .statute{
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    
    div{
        height: 1px;
        background-color: #afafaf;
        width: 100%;
    }
    
    span{
        margin: 0 10px 0 10px;
    }
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .policy{
        font-size: 12.5px;
        text-align: center;
        margin-bottom: 10px;

        a{
            font-size: 14px;
        }
    }
}

