/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use './assets/scss/reset';
@use './assets/scss/variables';
@use './assets/scss/palette';
@use './assets/scss/typography';
@use './assets/scss/theme';
@use './assets/scss/shadows';
@use './assets/scss/modifiers';
@use './assets/scss/themes/_theme-switch' as switch;
@use './assets/scss/mixins/dark-mode-transition.mixin' as transition;
@use './assets/scss/abstracts/index';

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700&display=swap&subset=latin-ext');

@include mat.core(typography.$default-typography);
@include switch.themeSwitch(theme.$default-theme, theme.$dark-theme);

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

app-root {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
