/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use './assets/scss/reset';
@use './assets/scss/variables';
@use './assets/scss/typography' as typography;
@use './assets/scss/shadows';
@use './assets/scss/modifiers';
@use './assets/scss/mixins/dark-mode-transition.mixin' as transition;
@use './assets/scss/abstracts/index';
@use './assets/scss/palette' as palette;

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700&display=swap&subset=latin-ext');

@include mat.theme((color: palette.$primary-palette,
	typography: Roboto,
	density: 0
));



* {
	box-sizing: border-box;
}

body {
	font-family: Roboto;
}

app-root {
	display: block;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
