/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use './assets/scss/palette';
@use './assets/scss/variables';
@use './assets/scss/theme';
@use './assets/scss/reset';
@use './assets/scss/shadows';
@use './assets/scss/parcials/login-theme';
@use './assets/scss/parcials/register-theme';
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url('https://fonts.googleapis.com/css?family=Hind:400,700&display=swap&subset=latin-ext');

@include mat.core();

@include mat.all-component-themes(theme.$default-theme);
@include login-theme.theme(theme.$default-theme);
@include register-theme.theme(theme.$default-theme);

.darkMode {
    @include mat.all-component-colors(theme.$dark-theme);
    @include login-theme.theme(theme.$dark-theme);
    @include register-theme.theme(theme.$dark-theme);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #d6d6d6;
}
app-root{
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}



h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.main-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.container {
    display: grid;
    grid:  auto / auto;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 100vw;
        grid:  auto / 100vw;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}









