<ng-container *ngIf="sendingOrRevieving">
    <h1 class="mat-headline">Password reset</h1>
    <br>
    <form class="form" (ngSubmit)="submitEmail()" [formGroup]="resetPasswordForm">
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <br>
        <button type="submit" mat-flat-button color="primary">Send resetting email</button>
    
    </form>
</ng-container>

<ng-container *ngIf="!sendingOrRevieving">
    <h1 class="mat-headline">Setup new password</h1>
    <br>
    <form class="form" (ngSubmit)="submitNewPassword()" [formGroup]="newPasswordForm">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="newPasswordForm.get('password')?.invalid">Password need to be at least 8 characters long including big and small letters, numbers and special characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password confirmation</mat-label>
            <input matInput type="password" formControlName="passwordConfirm">
            <mat-error *ngIf="newPasswordForm.get('passwordConfirm')?.invalid">Passwords don't match</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" mat-flat-button color="primary">Confirm</button>
    
    </form>
</ng-container>
