@use '../../../../../assets/scss/variables.scss';
@use '../../../../../assets/scss/mixins/dark-mode-transition.mixin' as transition;

:host {
	display: block;
	max-width: 342px;
	min-width: 342px;
	padding: 20px;
	border-radius: variables.$border-radius;
	box-shadow: 3px 3px 13px rgb(0, 0, 0, 0.2);
	text-align: center;

	@include transition.transition-dark-mode();
}

.form {
	display: flex;
	flex-direction: column;
}
