@use '../../../../../assets/scss/mixins/background.mixin' as background;

[class^='logo'] {
    margin: 0 auto;
}

:host {
    padding: 100px 0;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        width: 600px;
        height: 300px;
        box-shadow: 0px 0px 80px 80px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    @include background.background('../../../assets/img/background-camera.jpg');
}

p,
h2 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.call-to-actions {
    text-align: center;
    margin: 0 auto;

    button:nth-child(2) {
        margin-left: 15px;
    }
}

.frontpage-title {
    margin: 10px 10px 10px 5px;
    justify-content: center;
}
