<app-logotype class="logo--medium"></app-logotype>

<br>

<h2>The Fadein project</h2>
<br>
<p>
    Project was invented with filmmakers needs in mind, for everyone who loves cinematography. 
    For these who wants to tell the stories, but got no equipment or cannot find other interested people. 
    Here we are with an idea to combine scattered artists among the world, and to help them merge their forces, equipments, and time into the great movies! 🎬
</p>
<br>
<div class="call-to-actions">
    <button mat-flat-button color="basic" [routerLink]="['/login']" >Login</button>
    <button mat-flat-button color="primary" [routerLink]="['/register']">Sign up</button>
</div>