<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{name}}</mat-label>
    <input matInput type="text" [readonly]="!formCtrl.active" (change)="onChange(value)" [formControl]="formCtrl">
    <button matSuffix mat-icon-button aria-label="Edit" (click)="toggleControl(!formCtrl.active)">
        <ng-container *ngIf="!formCtrl.active">
            <mat-icon>edit</mat-icon>
        </ng-container>
        <ng-container *ngIf="formCtrl.active">
            <mat-icon>done</mat-icon>
        </ng-container>
    </button>
    <mat-error>
        An error has occurred
    </mat-error>
</mat-form-field>
